In [3]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt #for visualization and plot
import csv,sklearn

from subprocess import check_output

In [4]:
data = pd.read_csv('input/dataset.csv',encoding='latin1')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [5]:
#Data labelling!
#This is done to elimiate the inconsistencies in the original data. For example, a person is said to have diabetes but the glucose value is 0
#Define a new column 'Output' for reassining label to data based on medical standard. Glucose >125 is known as diabetes,
#Glucose 125 to 99 is prediabetes, while Glucose 99 <70 is for normal patients, and <70 is diabetes

data['Output'] = data['Glucose'].apply(lambda x: 'diabetes' if x > 125 else 'prediabetes' if x > 99 and x <= 125 else 'normal' if x > 70 else 'diabetes')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Output
0,6,148,72,35,0,33.6,0.627,50,1,diabetes
1,1,85,66,29,0,26.6,0.351,31,0,normal
2,8,183,64,0,0,23.3,0.672,32,1,diabetes
3,1,89,66,23,94,28.1,0.167,21,0,normal
4,0,137,40,35,168,43.1,2.288,33,1,diabetes

In [6]:
#Code data to have numeric labels. The labels are normal=0, prediabetes=1, diabetes=2
data['Output'] = data['Output'].replace(['normal','prediabetes', 'diabetes'],[0,1,2])
data.head()

#save data
data.to_csv('input/diabetes2.csv',index=False, header=True)

In [7]:
#delete zero row within the insulin column entries
data= data[data['Insulin'] == 0]

#perform descriptive analysis
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Output
count,374.000000,374.000000,374.000000,374.000000,374.0,374.000000,374.000000,374.000000,374.000000,374.000000
mean,4.433155,119.409091,67.473262,11.508021,0.0,30.943316,0.415340,35.796791,0.368984,1.168449
std,3.437621,32.544233,24.522312,15.738605,0.0,8.419854,0.300547,12.729034,0.483176,0.765173
min,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.078000,21.000000,0.000000,0.000000
25%,1.000000,99.250000,64.000000,0.000000,0.0,26.500000,0.209000,25.000000,0.000000,1.000000
50%,4.000000,115.000000,72.000000,0.000000,0.0,31.200000,0.302500,32.000000,0.000000,1.000000
75%,7.000000,138.000000,80.000000,26.750000,0.0,35.675000,0.553250,43.000000,1.000000,2.000000
max,14.000000,199.000000,122.000000,99.000000,0.0,52.900000,1.893000,72.000000,1.000000,2.000000

In [8]:
#Select only column data of interest
data = data[['Glucose','Output']]
data.head()

   Glucose  Output
0      148       2
1       85       0
2      183       2
5      116       1
7      115       1

In [9]:
#we can afford to remove 2 rows of glucose with zero entries
data= data[data['Glucose'] != 0]
data.describe()

          Glucose      Output
count  370.000000  370.000000
mean   120.700000    1.159459
std     30.238604    0.764369
min     44.000000    0.000000
25%    100.250000    1.000000
50%    115.000000    1.000000
75%    138.000000    2.000000
max    199.000000    2.000000

In [10]:
data.to_csv('input/diabetestest2.csv',index=False, header=True)